<td>
{% if attributeValue.attribute.frontendWidget is constant('AppBundle\\AttributeType\\CheckboxAttributeType::CHECKBOX') %}
    {% if attributeValue.value %}
        {% set label = 'sylius.yes' %}
        {% set class = 'label-success' %}
    {% else %}
        {% set label = 'sylius.no' %}
        {% set class = 'label-danger' %}
    {% endif %}
<span class="label {{ class }}">{{ label|trans|upper }}</span>
{% endif %}
</td>