<td>
  {% if attributeValue.attribute.frontendWidget is constant('AppBundle\\AttributeType\\DateAttributeType::TEXT') %}
      {{ attributeValue.value|date('Y/m/d') }}
  {% else %}
      <div id="date_datepicker"></div>
      <script>
          window.onload = function() {
              $("#date_datepicker").datepicker("setDate", "{{ attributeValue.value|date('m/d/Y') }}");
          }
      </script>
  {% endif %}
</td>
