<td>
{% if attributeWidget is constant('AppBundle\\AttributeType\\IntervalAttributeType::TEXT') %}
    {{ attributeValue.start|date('Y/m/d') ~ ' - ' ~ attributeValue.end|date('Y/m/d') }}
{% else %}
    <div class="interval_datepicker"></div>
    <script>
        window.onload = function() {
            $(".interval_datepicker").datepicker("setDate", "{{ attributeValue.end|date('m/d/Y') }}");
        }
    </script>
{% endif %}
</td>
